{% extends "index.html" %}
{% block content %}
    
    <h1 class="text-center">About</h1>
    <p></p>
    <p></p>
    <div class="row justify-content-around">
        <div class="col-sm-10 content-section">
            <h2>Introduction</h2>
            <p>
                This HomePixel smart home system monitors and controls specific home environment services 
                that will improve one’s quality of life: <strong>Security</strong>, <strong>Lighting</strong>, and <strong>Temperature</strong>.
                </br>
                </br>
                Having a comfortable and safe home environment has recently become very important since an unprecedented amount of people 
                are working from home due to the COVID-19 pandemic. The HomePixel system provides the services of security, lighting, and temperature 
                because these can have an effect on an individual’s well-being, productivity and quality of life.  
            </p>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-sm-10 content-section">
            <h2>README</h2>
            <p>
                ADD LATER 
            </p>
        </div>
    </div>
        
{% endblock content %}