{% extends "index.html" %}
{% block content %}

    <h1 class="text-center">Light Clapper Node</h1>
    <p></p>
    <p></p>
    <div class="row justify-content-center">
        <div class="col-md-11 content-section">
            <h3 class="text-center">Graph</h3>
            <canvas></canvas>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-11 content-section">
            <h3 class="text-center">Analytics</h3>
            <table id="security-analytics" class="display">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Location</th>
                    <th scope="col">NodeID</th>
                    <th scope="col">LightStatus</th>
                  </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            <td>{{row["date"]}}</td>
                            <td>{{row["time"]}}</td>
                            <td>{{row["location"]}}</td>
                            <td>{{row['nodeID']}}</td>	
                            <td>{{row['lightStatus']}}</td>	
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock content %}