{% extends "index.html" %}
{% block content %}

    <h1 class="text-center">Security System Node</h1>
    <p></p>
    <p></p>
    <div class="row justify-content-around">
        <div class="col-md-7 content-section">
            <h3 class="text-center">Surveillance Camera</h3>
            <div class="text-center"><img class="justify-content-center" src="{{ url_for('video_feed') }}"></div>
        </div>
        <div class="form-group col-md-4 content-section">
            <h3 class="text-center">Pan & Tilt Controls</h3>
            <p></p>
            <p></p>
            <table class="table">
                <tbody>
                    <tr>
                        <td colspan="3"><strong> PAN CAMERA </strong></td>
                    </tr>
                    <tr>
                        <td><a class="btn btn-danger" href="/pan/-" role="button"><i class="fas fa-minus"></i></a></td>
                        <td><strong>[ {{ panServoAngle }} ]</strong></td>
                        <td><a class="btn btn-success" href="/pan/+" role="button"><i class="fas fa-plus"></i></a></td>
                    </tr>
                    <tr>
                        <td colspan="3"><strong> TILT CAMERA </strong></td>
                    </tr>
                    <tr>
                        <td><a class="btn btn-danger" href="/tilt/-" role="button"><i class="fas fa-minus"></i></a></td>
                        <td><strong>[ {{ tiltServoAngle }} ]</strong></td>
                        <td><a class="btn btn-success" href="/tilt/+" role="button"><i class="fas fa-plus"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-11 content-section">
            <h3 class="text-center">Analytics</h3>
            <button class="btn btn-primary" type="submit" onClick="refreshPage()" style="float: right;">Refresh Results</button>
            <table id="security-analytics" class="display">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Location</th>
                    <th scope="col">NodeID</th>
                  </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            <td>{{row["date"]}}</td>
                            <td>{{row["time"]}}</td>
                            <td>{{row["location"]}}</td>
                            <td>{{row['nodeID']}}</td>	
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock content %}